body {
	background: url("lightblue.jpg");
}

button, div, form, input {
	margin: 10px;
}

img{
   	max-width: 200px;
    border: 2px solid black;
    margin: 20px;
    /*float: right;*/

}

#gif, p {
  position: relative;
}